
petition.csv
Abstract-KaYoon Kim-IPAC.docx
Abstract-The Changing Landscape of Issues and Claims in the National Petition of South Korea, 2017-2020.docx
청와대-청원-분석-요약문-한글.docx
청와대-청원-분석-내용-1차.docx
Supporting Document-The Changing Landscape of Issues and Claims in the National Petition of South Korea, 2017-2020.pdf
Supporting Document-The Changing Landscape of Issues and Claims in the National Petition of South Korea, 2017-2020.pptx
